Checks: '-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,performance-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-array-to-pointer-decay'
WarningsAsErrors: ''
HeaderFilterRegex: 'include/|tests/'
AnalyzeTemporaryDtors: false
FormatStyle: none
